h1{
    color: red;
    font-size: 20px;
}

.content{
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: burlywood;
    font-style: italic;
}
#image{
    margin: 20px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 10px;
    width: 50%;
}

img{
    width: 100%;
}
#randomwords{
    font-size: 20px;
    color: blue;
    background-image: url('https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-color: rgba(255, 255, 255, 0.5); /* White overlay with 50% opacity */
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer{
    text-align: center;
    background-color: black;
    color: white;  
}
